%heading {
  font-family: $default-font-family;
  font-weight: 400;
}

.heading-primary {
  @extend %heading;
  padding-top: 2rem;

  &__h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    color: rgba($color-primary-grey,.8);
  }

  &__hr {
    width: 10rem;
    margin: 0 auto;
    color: $color-green-olive;
  }

}


