.intersection {
  background-image: linear-gradient(to right, rgba($color-primary-dark-grey, .9), rgba($color-primary-dark-grey, .9)), url('../img/world-map-grey.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.banner {

  &__heading {
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
  }

  &__heading-h1 {
    font-size: 3.5rem;
    color: white;

    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
    }
  }

  &__heading-h2 {
    font-size: 3.5rem;
    color: white;

    span {
      color: $color-green-olive;
    }

    @media only screen and (max-width: 37.5em) {
      font-size: 2rem;
    }
  }
}