.footer {
  background: $color-primary-dark-grey;
}

.final {
  min-height: 20rem;
  padding: 5rem;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 68.75em) {
    flex-direction: column;
    text-align: center;
  }

  &__copyright {
    font-size: 1.6rem;
  }

  &__data {
    font-size: 1.6rem;
    p span {
      color: $color-green-olive;
    }
  }

}