body {
  font-family: $default-font-family;
  font-weight: 400;
  line-height: 1.6;
  color: $color-primary-dark-grey;

  min-height: 100vh;
}

.container {
  max-width: $grid-width;
  margin: 0 auto;
}

