.first {
  background-image: linear-gradient(to right, rgba($color-blue-websafe-light,.9) 45%, rgba(99,69,161,.2)), url("../img/cabincrew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: $default-font-family;
}

.main {
  color: white;
  min-height: 60vh;
  display: flex;

  &__heading {;
    color: white;
    margin-top: 10rem;
    margin-bottom: 2rem;

    span {
      color: $color-green-olive;
    }

    @media only screen and (max-width: 68.75em) {
      margin: 8rem 1rem 2rem;
    }

  }

  &__heading-primary {
    font-size: 4.5rem;
    line-height: 1.5;
    margin: 3rem;

    &-2 {
      font-size: 3rem;
      line-height: 1.5;
      margin: 3rem;

      span {
        color: $color-green-olive;
      }

    }

    @media only screen and (max-width: 68.75em) {
      font-size: 3.5rem;
    }

  }

  &__p{
    font-size: 2rem;
    line-height: 1.5;
    margin: 3rem;

    @media only screen and (max-width: 68.75em) {
      font-size: 1.6rem;
    }
  }

}

.offerings {
  //background-image: linear-gradient(to right, #D38312, #a83279);
  background: $color-primary-dark-grey;


  &__boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 68.75em) {
      flex-direction: column;
    }

  }

  &__box {
    color: white;
    margin: 1.5rem;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      padding-right: 10rem;
      border-right: 1px solid white;
    }
  }

  &__icon-box {
    margin-right: 2rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $color-green-olive;
  }

  &__box-content {

  }

  &__box-heading {
    font-size: 1.6rem;
  }

  &__box-p {
    font-size: 1.4rem;
  }

}
