.airlines {
  background-color: white;
}

.support {
  min-height: 16rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: 68.75em) {
    height: auto;
    flex-direction: column;
  }

  &__heading {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 2rem;
    text-align: center;
  }

  &__logo {
    max-width: 15rem;
    filter: brightness(0) contrast(0);

    @media only screen and (max-width: 75em) {
      max-width: 13rem;
    }

    @media only screen and (max-width: 68.75em) {
      max-width: 15rem;
      margin: 2rem auto;
    }

  }

}