.btn {
  margin: 3rem 3rem 2rem 3rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);

  @media only screen and (max-width: 56.25em) {
    width: 90%;
    margin: 3rem;
  }

  @media only screen and (max-width: 37.5em) {
    width: 100%;
    margin: 3rem auto;
  }

}

.btn--red {
  color: white;
  background: $color-primary-red;
}