.btn {
  margin: 3rem 3rem 2rem 3rem;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 0;
  outline: none;
  text-transform: uppercase;
}

.btn--green {
  color: white;
  background: #FF1654;
}